<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a id="ap-logo" class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <app-social></app-social>
              </li>
              <li class="d-none d-lg-block d-xl-block text-white">
                <div class="vr mx-2 h-100"></div>
              </li>
              <li class="nav-item">
                <app-login></app-login>
              </li>
        </ul>
      </div>
    </div>
  </nav>